<!DOCTYPE html>
<html lang="zh-CN">
{{template "header" .}}
<body>
<div>
    {{template "nav" .}}
    <div class="container">
        <div class="narrow-container">
            {{if .message }}
            <article id="messageToast" class="message is-danger">
                <div class="message-body" id="messageToastText">
                    {{.message}}
                </div>
            </article>
            {{ end }}

            <div>
                <h2 class="title">用户注册</h2>

                <form action="/register" method="post">
                    <div class="field">
                        <label class="label">用户名</label>
                        <div class="control">
                            <input class="input" name="username" type="text" required placeholder="请设置用户名（唯一）">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">显示名称</label>
                        <div class="control">
                            <input class="input" name="display_name" type="text" placeholder="可选，默认为用户名">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">密码</label>
                        <div class="control">
                            <input class="input" name="password" type="password" required placeholder="请设置密码">
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <input type="submit" class="button is-primary" autofocus value="注册">
                        </div>
                        <div class="control">
                            <input type="reset" class="button is-light" value="重置">
                        </div>
                    </div>
                </form>

                <div class="has-text-centered mt-4">
                    <p>已有账号？<a href="/login">立即登录</a></p>
                </div>

            </div>
        </div>
    </div>
    {{template "footer" .}}
</div>

{{template "modal"}}

</body>
</html>